{% extends 'base.html' %}
{% block title %}Editar Paciente{% endblock %}
{% block header %}Editar Información del Paciente{% endblock %}
{% block content %}

<div class="layout-container">
    <form action="/actualizar/{{ idx }}" method="post">
        <h2>Actualizar Información del paciente</h2>
        <label>Nombre:</label>
        <input type="text" name="nombre" value="{{ paciente.nombre }}" required style="max-width: 1200px;">

        <label>Apellido:</label>
        <input type="text" name="apellido" value="{{ paciente.apellido }}" required style="max-width: 1200px;">

        <label>Edad:</label>
        <input type="number" name="edad" value="{{ paciente.edad }}" required style="max-width: 1200px;">

        <label>Complexión:</label>
        <select name="complexion" required style="max-width: 1200px;">
            <option value="Delgado" {% if paciente.complexion=='Delgado' %}selected{% endif %}>Delgado</option>
            <option value="Normal" {% if paciente.complexion=='Normal' %}selected{% endif %}>Normal</option>
            <option value="Robusto" {% if paciente.complexion=='Robusto' %}selected{% endif %}>Robusto</option>
            <option value="Sobrepeso" {% if paciente.complexion=='Sobrepeso' %}selected{% endif %}>Sobrepeso</option>
        </select>

        <div class="layout-container">
            <button type="submit">Actualizar</button>
            <a href="{{ url_for('registro_paciente') }}" class="cancelar-btn">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}