{% extends 'base.html' %}
{% block title %}Editar Paciente{% endblock %}
{% block header %}Editar Información del Paciente{% endblock %}
{% block content %}
<form action="/actualizar/{{ idx }}" method="post" style="max-width: 400px; margin: auto;">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ paciente.nombre }}" required><br><br>

    <label>Apellido:</label><br>
    <input type="text" name="apellido" value="{{ paciente.apellido }}" required><br><br>

    <label>Edad:</label><br>
    <input type="number" name="edad" value="{{ paciente.edad }}" required><br><br>

    <label>Complexión:</label><br>
    <select name="complexion" required>
        <option value="Delgado" {% if paciente.complexion=='Delgado' %}selected{% endif %}>Delgado</option>
        <option value="Normal" {% if paciente.complexion=='Normal' %}selected{% endif %}>Normal</option>
        <option value="Robusto" {% if paciente.complexion=='Robusto' %}selected{% endif %}>Robusto</option>
        <option value="Sobrepeso" {% if paciente.complexion=='Sobrepeso' %}selected{% endif %}>Sobrepeso</option>
    </select><br><br>

    <button type="submit">Actualizar</button>
</form>
{% endblock %}