{% extends 'base.html' %}
{% block title %}Monitoreo Inteligente de Ejercicio y Postura{% endblock %}
{% block header %}Monitoreo Inteligente de Ejercicio y Postura{% endblock %}
{% block content %}
<div class="layout-container">
    <!-- Columna izquierda: botones -->
    <aside class="sidebar-left">
        <label for="cameraSelect">
            Seleccionar cámara:
        </label>
        <select id="cameraSelect"></select>
        <br><br>
        <button id="startBtn" onclick="startStream()" {% if stream_active %}disabled{% endif %}>
            Iniciar
        </button>
        <br><br>
        <button id="stopBtn" onclick="stopStream()" disabled>
            Detener
        </button>
    </aside>

    <!-- Columna derecha: video -->
    <main class="video-area">
        <img id="video-feed" class="fade" src="{{ url_for('static', filename='placeholder.jpg') }}"
            alt="Captura de Video" onerror="this.src='{{ url_for('static', filename='placeholder.png') }}'">
    </main>
</div>

{% if paciente %}
<div style="text-align:center; margin-top: 2rem; font-size: 1.2rem;">
    <strong>Paciente:</strong> {{ paciente.nombre }} {{ paciente.apellido }}, {{ paciente.edad }} años
</div>
{% endif %}
{% endblock %}