<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Monitoreo Inteligente de Ejercicio y Postura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
</head>

<body>
    <header class="app-header">
        <h1 class="app-title">Monitoreo Inteligente de Ejercicio y Postura</h1>
        <button class="theme-toggle" onclick="toggleTheme()" id="themeButton">
            <span class="icon" id="themeIcon">🌙</span> Cambiar tema
        </button>
    </header>

    <div class="layout-container">
        <!-- Columna izquierda: botones -->
        <aside class="sidebar-left">
            <label for="cameraSelect">
                Seleccionar cámara:
            </label>
            <select id="cameraSelect"></select>
            <br><br>
            <button id="startBtn" onclick="startStream()" {% if stream_active %}disabled{% endif %}>
                Iniciar
            </button>
            <br><br>
            <button id="stopBtn" onclick="stopStream()" disabled>
                Detener
            </button>
        </aside>

        <!-- Columna derecha: video -->
        <main class="video-area">
            <img id="video-feed" class="fade" src="{{ url_for('static', filename='placeholder.jpg') }}"
                alt="Captura de Video" onerror="this.src='{{ url_for('static', filename='placeholder.png') }}'">
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% if paciente %}
    <div style="text-align:center; margin-top: 2rem; font-size: 1.2rem;">
        <strong>Paciente:</strong> {{ paciente.nombre }} {{ paciente.apellido }}, {{ paciente.edad }} años
    </div>
    {% endif %}

</body>

</html>