<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pacientes Registrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1 class="app-title">Lista de Pacientes</h1>
    <div style="max-width:600px; margin:auto;">
        <ul>
            {% for paciente in pacientes %}
            <li>
                {{ paciente.nombre }} {{ paciente.apellido }} - {{ paciente.edad }} años - {{ paciente.complexion }}
                <a href="/editar/{{ loop.index0 }}">Editar</a> |
                <a href="/eliminar/{{ loop.index0 }}"
                    onclick="return confirm('¿Seguro que deseas eliminar este paciente?')">Eliminar</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div style="text-align:center; margin-top: 2rem;">
        <a href="/registro_paciente">Volver</a>
    </div>
</body>

</html>